/* src/assets/main.css */
@import './base.css';

/* Vollbild und Hintergrund */
html,
body,
#app {
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    background: url('./gifmeer.png') center / cover no-repeat fixed;
    font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', sans-serif;
}

/* Hintergrund bewegt sich */
@keyframes bgScroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2000px 0;
    }
}